@{
    ViewBag.Title = "Avukatlarim";
    ViewBag.ActiveAvukatlarim = "active";
   
}

<div id="lawyers-content">
    <div class="lawyers-page">
        <h2 class="section-title">Avukat Listesi</h2>
        <table>
            <thead>
                <tr>
                    <th>Avukat</th>
                    <th>Telefon</th>
                    <th>Adres</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ayşe Demir</td>
                    <td>0555 444 44 44</td>
                    <td>İstanbul, Şişli</td>
                </tr>
                <tr>
                    <td>Mehmet Kaya</td>
                    <td>0555 333 33 33</td>
                    <td>İstanbul, Kadıköy</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
